{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "plugins": ["prettier/plugins/babel", "prettier/plugins/estree", "prettier/plugins/typescript", "prettier/plugins/postcss", "prettier/plugins/html"]
}
