NEXT_PUBLIC_API_BASE_URL=http://localhost:8001
GITHUB_CLIENT_ID=your_github_client_id_here
NEXT_PUBLIC_DEV_USER_NAME=SuperAGI User
NEXT_PUBLIC_DEV_USER_EMAIL=super6@agi.com
NEXT_PUBLIC_DEV_USER_PASSWORD=your_dev_password_here
